[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Coverage = "==5.1"
Faker = "==4.1.0"
PyYAML = "==5.3.1"
Django-Debug-Toolbar = "==2.2"

[packages]
Django = "==3.0.6"
Django-Crispy-Forms = "==1.9.1"
Django-Environ = "==0.4.5"
Psycopg2 = "==2.8.5"
Django-Redis = "==4.11.0"
Pillow = "==9.0.0"
Qrcode = "==6.1"
Requests = "==2.23.0"

[requires]
python_version = "3.8"


